<h4>
  Welcome
  <strong>{{ user.firstName }}!</strong>
</h4>
<hr>

<h5>Available Policies</h5>
<div class="table-responsive">
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th>S. No</th>
      <th>Policy Name</th>
      <th>Policy Details</th>
      <th *ngIf="isAdmin"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let policy of policies">
      <td>{{ policy.id }}</td>
      <td>{{ policy.name }}</td>
      <td>{{ policy.details }}</td>
      <td *ngIf="isAdmin"><a>Edit</a></td>
    </tr>
  </tbody>
</table>
</div>

<div class="table-responsive" *ngIf="!isAdmin">
  <h5>
    <strong>{{ user.firstName }}</strong>
    Policy Details
  </h5>
  <table class="table">
      <thead class="thead-dark">
        <tr>
          <th>Policy No</th>
          <th>Policy Name</th>
          <th>Amount Paid</th>
          <th>Policy End Date</th>
          <th>Valid</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let userPolicy of user.policies; index as i">
          <td>{{ userPolicy.policy.id }}</td>
          <td>{{ userPolicy.policy.name }}</td>
          <td>{{ userPolicy.amount }}</td>
          <td>{{ userPolicy.endDate | date:'dd/M/yyyy' }}</td>
          <td *ngIf="userPolicy.endDateStamp > todayStamp; else valid">No</td>
          <ng-template #valid><td>Yes</td></ng-template>
        </tr>
      </tbody>
    </table>
</div>
